In [2]:
import numpy as np
import pandas as pd

In [15]:
tb = pd.read_csv('./DataSets/aumento_atividade_empresas.csv', sep=';')
tb.sort_values(by='Setor')

    Empresa  Meses Setor Tamanho
0         1      8     C       G
1         2      9     C       M
5         6      6     C       P
6         7      8     C       G
9        10      8     C       M
10       11      5     C       P
12       13      6     C       M
2         3      4     I       G
3         4      5     I       M
4         5      3     I       M
7         8      6     I       M
8         9      6     I       P
11       12      5     I       P
13       14      4     I       M
14       15      4     I       G

In [17]:
comercial = tb[tb['Setor'] == 'C']
industrial = tb[tb['Setor'] == 'I']
comercial_meses = comercial['Meses']
industrial_meses = industrial['Meses']

mediana_comercial = np.median(comercial_meses)
media_comercial = np.mean(comercial_meses)

mediana_industrial = np.median(industrial_meses)
media_industrial = np.mean(industrial_meses)

In [16]:
print(mediana_comercial)
print(media_comercial)
print(mediana_industrial)
print(media_industrial)

8.0
7.142857142857143
4.5
4.625

In [20]:
print(np.std(comercial_meses))
print(np.var(comercial_meses))
print(np.std(industrial_meses))
print(np.var(industrial_meses))

1.355261854357877
1.836734693877551
0.9921567416492215
0.984375

### O grupo mais homogênio em relaçao aos meses de crescimento é o grupo industrial