In [2]:
import pandas as pd
import numpy as np

In [3]:
index = ['Firefox', 'Chrome', 'Safari', 'IE10', 'Konqueror']
navegadores = pd.DataFrame({'http_status': [200, 200, 404, 404, 301],
    'response_time': [0.04, 0.02, 0.07, 0.08, 1.0]},
    index=index)
navegadores

           http_status  response_time
Firefox            200           0.04
Chrome             200           0.02
Safari             404           0.07
IE10               404           0.08
Konqueror          301           1.00

In [4]:
navegadores[navegadores.http_status == 200]

         http_status  response_time
Firefox          200           0.04
Chrome           200           0.02

In [5]:
navegadores[navegadores['response_time'] < 0.08]

         http_status  response_time
Firefox          200           0.04
Chrome           200           0.02
Safari           404           0.07

In [6]:
new_index = ['Safari', 'Iceweasel', 'Comodo Dragon', 'IE10', 'Chrome']
navegadores_reindexados = navegadores.reindex(index=new_index)
navegadores_reindexados

               http_status  response_time
Safari               404.0           0.07
Iceweasel              NaN            NaN
Comodo Dragon          NaN            NaN
IE10                 404.0           0.08
Chrome               200.0           0.02

In [7]:
navegadores_reindexados[navegadores_reindexados.http_status == 200]

        http_status  response_time
Chrome        200.0           0.02

In [8]:
navegadores_reindexados[navegadores_reindexados['response_time'] < 0.08]

        http_status  response_time
Safari        404.0           0.07
Chrome        200.0           0.02

Os resultados nao sao os mesmos.

In [9]:
navegadores_reindexados.loc['Iceweasel', 'http_status'] = 501
navegadores_reindexados.loc['Iceweasel', 'response_time'] = 10
navegadores_reindexados

               http_status  response_time
Safari               404.0           0.07
Iceweasel            501.0          10.00
Comodo Dragon          NaN            NaN
IE10                 404.0           0.08
Chrome               200.0           0.02

In [10]:
navegadores_reindexados.loc['Comodo Dragon', 'http_status'] = 503
navegadores_reindexados.loc['Comodo Dragon', 'response_time'] = 8.0
navegadores_reindexados

               http_status  response_time
Safari               404.0           0.07
Iceweasel            501.0          10.00
Comodo Dragon        503.0           8.00
IE10                 404.0           0.08
Chrome               200.0           0.02

In [11]:
indices_faltantes = (navegadores.index.difference(navegadores_reindexados.index))
dados_faltantes = navegadores.loc[indices_faltantes]
dados_faltantes

           http_status  response_time
Firefox            200           0.04
Konqueror          301           1.00

In [12]:
navegadores = pd.concat([navegadores_reindexados, dados_faltantes])
navegadores

               http_status  response_time
Safari               404.0           0.07
Iceweasel            501.0          10.00
Comodo Dragon        503.0           8.00
IE10                 404.0           0.08
Chrome               200.0           0.02
Firefox              200.0           0.04
Konqueror            301.0           1.00

In [13]:
navegadores['version'] = ['16.3', '38.8', '80.0', '10.0.9200.16521', '109', '103', '22.12.3']
navegadores

               http_status  response_time          version
Safari               404.0           0.07             16.3
Iceweasel            501.0          10.00             38.8
Comodo Dragon        503.0           8.00             80.0
IE10                 404.0           0.08  10.0.9200.16521
Chrome               200.0           0.02              109
Firefox              200.0           0.04              103
Konqueror            301.0           1.00          22.12.3

In [14]:
# EXEMPLO DO dropna()
index = ['Firefox', 'Chrome', 'Safari', 'IE10', 'Konqueror']
nav = pd.DataFrame({'http_status': [200, 200, 404, 404, 301],
    'response_time': [0.04, 0.02, 0.07, 0.08, 1.0]},
    index=index)
new_index = ['Safari', 'Iceweasel', 'Comodo Dragon', 'IE10', 'Chrome']
nav = nav.reindex(index=new_index)
print(nav)
print(nav.dropna())

               http_status  response_time
Safari               404.0           0.07
Iceweasel              NaN            NaN
Comodo Dragon          NaN            NaN
IE10                 404.0           0.08
Chrome               200.0           0.02
        http_status  response_time
Safari        404.0           0.07
IE10          404.0           0.08
Chrome        200.0           0.02

In [15]:
#Exemplo do drop_duplicates()
dados = pd.DataFrame(['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'])

dados.drop_duplicates()

        0
0    Ohio
3  Nevada

In [16]:
#Exemplo de merge()


# criar dois DataFrames
df1 = pd.DataFrame({'doces': ['beijinho', 'brigadeiro', 'cajuzinho'], 'doceria': ['centro', 'boa vista', 'norte']})
df2 = pd.DataFrame({'doces': ['brigadeiro', 'beijinho', 'bananinha'], 'doceria': ['centro', 'boa vista', 'sul']})

pd.merge(df1, df2, on='doceria')

      doces_x    doceria     doces_y
0    beijinho     centro  brigadeiro
1  brigadeiro  boa vista    beijinho

In [17]:
#Exemplo do concat()
navegadores = pd.concat([navegadores_reindexados, dados_faltantes])
navegadores

               http_status  response_time
Safari               404.0           0.07
Iceweasel            501.0          10.00
Comodo Dragon        503.0           8.00
IE10                 404.0           0.08
Chrome               200.0           0.02
Firefox              200.0           0.04
Konqueror            301.0           1.00

In [28]:
# Exemplo do groupby
dados = {
    'Nome': ['Alice', 'Bob', 'Charlie', 'David', 'Emily', 'Fred'],
    'Sexo': ['F', 'M', 'M', 'M', 'F', 'M'],
    'Cidade': ['São Paulo', 'Rio de Janeiro', 'São Paulo', 'Rio de Janeiro', 'São Paulo', 'Rio de Janeiro'],
}
df = pd.DataFrame(dados)

# Agrupar por cidade
por_cidade = df.groupby('Cidade')
print(por_cidade.value_counts())

Cidade          Nome     Sexo
Rio de Janeiro  Bob      M       1
                David    M       1
                Fred     M       1
São Paulo       Alice    F       1
                Charlie  M       1
                Emily    F       1
dtype: int64