In [32]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [6]:
array1 = np.array([10, 15, 12, 8, 9, 11, 14, 16, 13, 15, 17, 20, 18, 22, 25, 23, 21, 19, 20, 24])
np.std(array1)

4.993996395673509

In [9]:
array2 = np.array([25, 26, 23, 22, 21, 22, 23, 26, 27, 28, 29, 30, 30, 28, 27, 25, 24, 23, 22, 20])
print(np.mean(array2))
print(np.median(array2))
print(np.std(array2))
print(np.var(array2))

25.05
25.0
2.9576172842340505
8.747499999999999

In [34]:
array3 = np.array([10, 15, 12, 8, 9, 11, 14, 16, 13, 15, 17, 20, 18, 22, 25, 23, 21, 19, 20, 24])
print(np.mean(array3))
print(np.median(array3))
print(np.std(array3))
print(np.var(array3))

16.6
16.5
4.993996395673509
24.94

In [15]:
array4 = np.array([172, 163, 168, 170, 165, 167, 175, 178, 170, 180, 175, 168, 163, 169, 180, 172, 173, 171, 176, 166])
print(np.mean(array4))
print(np.median(array4))
print(np.std(array4))
print(np.var(array4))

171.05
170.5
5.014728307695243
25.147499999999997

In [17]:
array7 = np.array([10, 15, 12, 8, 9, 11, 14, 16, 13, 15, 17, 20, 18, 22, 25, 23, 21, 19, 20, 24])
print(np.mean(array7))

16.6

In [20]:
array8 = np.array([3, 7, 10, 15, 2, 8, 12, 5, 6, 7, 9, 11, 14, 1, 4, 6, 8, 10, 13, 16])
print(np.mean(array8))
print(np.median(array8))
print(np.std(array8))
print(np.var(array8))

8.35
8.0
4.1865857210858595
17.527500000000003

In [36]:
array10 = np.array([28, 30, 26, 27, 29, 28, 30, 28, 31, 32, 29, 27, 24, 25, 26, 28, 27, 30, 28, 27, 26, 24, 25, 23, 29, 28, 27, 26, 30, 27])
print(np.mean(array10))
print(np.median(array10))
print(np.std(array10))
print(np.var(array10))

27.5
27.5
2.1095023109728985
4.45

In [29]:
df13 = pd.DataFrame([3, 7, 10, 15, 2, 8, 12, 5, 6, 7, 9, 11, 14, 1, 4, 6, 8, 10, 13, 16])
df13.quantile()
df13.quantile([0.25,0.50,0.75,1])

          0
0.25   5.75
0.50   8.00
0.75  11.25
1.00  16.00